.about__section{
    width: 85%;
    background-color: white;
    margin:auto;
}
.about__section__header{
    padding: 0.5rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about__section__header div {
    display: flex;
    margin-bottom: 0.7rem;
}

.about__section figcaption{
    display: flex;
    align-items: flex-end;
    margin-right: 0.5rem;
}

.about__section__header h2 {
    color: var(--LIGHT-PURPLE);
    font-size: var(--FONT-XL);
    letter-spacing: 10px;
    font-weight: 600;
    margin: 0.5rem 0;
}

.about__section__header i{
    font-style: normal;
    width: 60%;
    text-align: center;
    margin-bottom: 0.7rem;
    font-size: var(--FONT-SMALL);
    letter-spacing: 3px;
    font-weight: 400;
}

.about__section__nav {
    display: flex;
    flex-wrap: wrap;
    /* background-color: var(--YELLOW); */
    background-image: url('../../../public/images/bandeau_waves.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 6rem;
    color: var(--WHITE);
    padding: 0.8rem 0;
}

.about__section__nav ul {
    list-style: none;
    display: flex;
    margin: auto;
}

.about__section ul li {
    font-size: var(--FONT-SMALL);
}

.about__section__nav li {
    display: inline;
    margin-right: 1.5rem;
    border:3px solid var(--LIGHT-PURPLE);
    padding: 0.5rem;
    cursor: pointer;
}

.about__section__nav li a {
    color: var(--PINK-POP);
    text-shadow: 1px 0px 0px var(--PINK-POP);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: var(--FONT-XS);
}

.about__section__nav li:hover{
    border: 3px solid white;
}

/* .about__section__nav li a:hover{
    color: var(--WHITE);
} */

.about__section__nav li svg{
    margin: 0 0.3rem;
}

.about__section article{
    width: 90%;
    padding: 1.5rem 2rem;
    margin:auto;
}

.about__section article h3{
    color: var(--LIGHT-PURPLE);
    letter-spacing: 2px;
    font-weight: 600;
    border-bottom: 4px double var(--LIGHT-PURPLE);
    width: fit-content;
    margin-bottom:0.8rem;
    font-size: var(--FONT-MEDIUM);
}

.about__section article p {
    text-indent: 30px;
    width: 100%;
    margin: 0.3rem auto;
}
.about__section article ul {
    list-style: none;
    margin-left: 3rem;
}

.about__section article ul li svg{
    margin:0 0.5rem;
}
.about__section article ul li em {
    font-style: normal;
    color: var(--LIGHT-PURPLE);
    font-weight: bold;
}

.about__section article h4{
    color: var(--LIGHT-PURPLE);
    letter-spacing: 2px;
    font-weight: 600;
    border-bottom: 4px double var(--LIGHT-PURPLE);
    width: fit-content;
    margin-bottom:0.8rem;
    font-size: var(--FONT-SMALL);
}

.about__section article h4 svg {
    margin-right: 0.5rem;
}
.about__section__infosContent {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:auto;
}
.about__section article .about__section__aside-content p{
    font-size: var(--FONT-SMALL);
}

.about__section__aside-content p {
    font-size: 0.9rem;
}

.about__section article > div{
    margin: 1rem 0;
}

.about__section__footer {
    display: flex;
    justify-content: center;
}

#paroursReconversion a{
    padding:0.3rem 0.5rem;
    border-radius: 5px;
    outline:none;
    margin: 1.5rem auto;
    box-shadow: 0 6px 5px -5px var(--DARK-PURPLE);
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: 500;
    width: fit-content;
    text-decoration: none;
    display: block;
}

#paroursReconversion a:first-of-type {
    color: var(--WHITE);
    background-color: var(--PINK-POP);
    border: 2px solid var(--PURPLE-POP);
}
#paroursReconversion a:nth-of-type(2) {
    color: var( --DARK-PURPLE);
    background-color: var(--YELLOW-POP);
    border: 2px solid var(--KAKI);
}
#paroursReconversion a:nth-of-type(3) {
    background-color: var(--ORANGE-POP);
    color: var(--WHITE);
    border: 2px solid var(--PURPLE-POP);
}
/* RESPONSIVE */

@media screen and (max-width:481px){
    .about__section__nav ul {
        flex-direction: column;
    }
    .about__section__nav ul li {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .about__section__header i {
        font-weight: var(--FONT-SMALL);
        width: 80%;
    }
    .about__section article {
        padding: 1.5rem 0rem;
    }
    .about__section article .about__section__aside-content p {
        font-size:var(--FONT-XXS) ;
    }
    .about__section article p {
        margin: 0
    }
    .about__section article ul {
        margin:0.2rem 0;
    }
    .about__section__header div{
        align-items: center;
    }
}

@media screen and (max-width:768px){
    .about__section__nav  {
        width: 100%;
        flex-direction: column;
        height: fit-content;
    }
    .about__section article {
        width: 100%;
        padding: 1.5rem 1rem;
    }
    .about__section article ul {
        margin:0.5rem auto;
    }
    .about__section__nav li{
        text-align: center;
        padding: 0;
        margin: 0.2rem;
    }
    .about__section ul li {
        font-size: var(--FONT-XS);
    }
}

@media screen and (max-width:1024px){
    .about__section{
        width: 95%;
    }
    .about__section article p {
        font-size:var(--FONT-XS) ;
    }
}