.exp-pro__article{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: auto;
}

.exp-pro__article h2{
    font-weight: var(--FONT-MEDIUM) ;
    color: var(--LIGHT-BLUE);
    letter-spacing: 10px;
    font-weight: 600;
    border-bottom: 2px solid var(--LIGHT-BLUE) ;
    margin: 0.5rem auto;
    box-shadow: 0 4px 7px -3px var(--DARK-PURPLE);
    width: fit-content;
}

.exp-pro__article {
    width: 70vw;
    margin:0.3rem auto;
    background-color:#f3f0f9a6 ;
    box-shadow: 0 4px 7px -3px var(--DARK-PURPLE);
    padding: 1rem;
}

.exp-pro__article h3{
    font-size: var(--FONT-SMALL);
    color: var(--LIGHT-BLUE);
    font-weight: 600;
}

.exp-pro__article i {
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 15px;
    letter-spacing: 2px;
}
.exp-pro__article i span{
    font-weight: 300;
    letter-spacing: 2px;
}

.exp-pro__article-header{
    display: flex;
    align-items: center;
    position: inherit;
}
.exp-pro__article-header-btn {
    position: relative;
    width: fit-content;
}
.exp-pro__article button {
    width: fit-content;
    border:none;
    font-size: 30px;
    display: inline;
    position: relative;
    top:1px;
    right: 9px;
}

.exp-pro__article-separator{
    width: 90%;
    height: 4px;
    background-color: #89d4cf;
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
    margin:0.5rem auto;

}
.exp-pro__article article p {
    margin: 0.7rem 0 ;
}
.exp-pro__article article p span {
    margin: 0 0.5rem;
}
.exp-pro__article article p span svg{
    padding-right: 5px; 

}

.exp-pro__article article p span.missions{
    display: block;
}