.contact__section{
    position: relative;
    width: 85%;
    background-color: var(--WHITE);
    margin:auto;
    padding: 2rem;
}
.contact__section__article-infos{
    position: absolute;
    top: 70px;
    left: 25%;
    width: 70%;
    background-image: url('../../../public/images/bg_waves_v5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    height: -moz-fit-content;
    height:70%;
    z-index: 10;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    padding:1rem 1.5rem;
}
.contact__section__article-infos h2 {
    color: var(--DARK-PURPLE);
    letter-spacing: 3px;
    font-size: var(--FONT-BIG);
    font-weight: 600;
    width: fit-content;
    margin: 0.5rem auto 1rem;
}

.contact__section__article-infos p {
    font-size: var(--FONT-SMALL);
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 0.5rem;
    opacity: 1;
}

.contact__section__article-infos figure{
    display: flex;
    justify-content: center;
}
.contact__section__article-map{
    z-index: 1;
    position: relative;
    box-shadow: 0 4px 7px -3px var(--DARK-PURPLE);
    width: fit-content;
}