.contact__section{
    position: relative;
    width: 85%;
    background-color: var(--WHITE);
    margin:auto;
    padding: 2rem;
}
.contact__section__article-infos{
    position: absolute;
    top: 70px;
    left: 25%;
    width: 70%;
    background-image: url('../../../public/images/bg_waves_v5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    height: -moz-fit-content;
    height:70%;
    z-index: 10;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    padding:1rem 1.5rem;
}
.contact__section__article-infos h2 {
    color: var(--ORANGE-POP);
    letter-spacing: 3px;
    font-size: var(--FONT-BIG);
    font-weight: bold;
    width: fit-content;
    margin: 0.5rem auto 1rem;
}

.contact__section__article-infos p {
    font-size: var(--FONT-SMALL);
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 0.5rem;
    opacity: 1;
}

.contact__section__article-infos figure{
    display: flex;
    justify-content: center;
}
.contact__section__article-map{
    z-index: 1;
    position: relative;
    box-shadow: 0 4px 7px -3px var(--DARK-PURPLE);
    width: fit-content;
}
.leaflet-container{
    width: 400px;
    height: 400px;
}

/* RESPONSIVE */

@media screen and (max-width:768px){
    .contact__section{
        width: 95%;
        height: fit-content;
        padding: 0.5rem;
    }
    .contact__section__article-infos {
        padding: 1rem 0.5rem;
        height: fit-content;
        top:88px;
        left:39%;
        width: 60%;
    }
    .contact__section__article-infos h2{
        font-size: var(--FONT-SMALL);
        margin:0;
        font-weight: bold;
        width: 95%;
        margin: auto;
        text-align: center;
    }
    .contact__section__article-infos p {
        font-size: var(--FONT-XS);
    }
    .contact__section__article-infos img{
        width: 95px;
    }
    .leaflet-container{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width:481px){
    .contact__section__article-infos {
        position: inherit;
        width: 100%;
        top:0;
        left: 0;
        padding: 1rem 0.3rem;
        margin-bottom: 0.5rem;
    }

    .leaflet-container{
        width: 290px;
        height: 290px;
    }
    .contact__section{
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    .contact__section__article-infos img{
        width: 95px;
    }
}