.home{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:70%;
    height: fit-content;
    margin: auto;
    padding: 0 0.5rem 1.5rem 0.5rem;
    box-shadow: 0px 8px 12px -5px var(--DARK-PURPLE);
    background-color: var(--WHITE);
}

.home__div {
    width:90%;
    margin: auto;
    display: flex;
}

.home__article{
    width:60%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.home h1{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: var(--FONT-BIG);
    letter-spacing: 5px;
    color: var(--LIGHT-PURPLE);
    margin: 1rem 0;
}

.home__article p{
    color: var(--DARK-PURPLE);
    font-size: var(--FONT-XS);
    letter-spacing: 1px;
    margin: 1.5rem 0.5rem;
    text-align: left;
    width: 100%;
}

.home__article a{
    padding:0.3rem 0.5rem;
    border-radius: 5px;
    outline:none;
    margin: 0.5rem auto;
    box-shadow: 0 6px 5px -5px var(--DARK-PURPLE);
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: 500;
    width: fit-content;
    text-decoration: none;
}
.home__article a:nth-of-type(2){
    color: var(--WHITE);
    background-color: var(--PINK-POP);
    border: 2px solid var(--PURPLE-POP);
}
.home__article a:first-of-type{
    color: var( --DARK-PURPLE);
    background-color: var(--YELLOW-POP);
    border: 2px solid var(--KAKI);
}

.home__article a:nth-of-type(3) {
    background-color: var(--ORANGE-POP);
    color: var(--WHITE);
    border: 2px solid var(--PURPLE-POP);
}
.home__article a svg{
    margin: 0 0.5rem;
}
/*Animation */
.text-animate{
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
}

/* .text-animate-hover{
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
    
    &:hover{
     animation: rubberBand 1s;
     color: #ffd700;
    }
 }

@for $i from 1 through 35 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 10}s;
    }
} */

.home figcaption img{
    width: 300px;
    height: auto;
}

@media screen and (max-width:1024px){

    .home{
        width: 95%;
    }

    .home__article p{
        font-size: 1rem;
    }
}

@media screen and (max-width:481px){

    .home h1{
       text-align: center;
       width: 100%;
    }
    .home__div{
        flex-direction: column-reverse;
        align-items: center;
    }

    .home__article{
        width: 95%;
        text-align: center;
    }

    .home__article p {
        text-align: center;
    }

    .home figcaption img{
        width: 150px;
        height: auto;
    }
}