.page__salesforce-profil__header-banner {
    display: flex;
    width: 50%;
    margin: auto;
}

.page__salesforce-profil__header-title{
    font-family: dialektika;
    /* color: var(--FONT-COLOR); */
    color: var(--WHITE);
    font-size: var(--FONT-XXL);
    letter-spacing: 3px;
    margin: 5px 0;
}

.page__salesforce-profil__header-title span{
    display: block;
}