.home__article{
    width:70%;
    margin: auto;
}
.home__article h1{
    font-size: 2rem;
    letter-spacing: 5px;
    color: var(--MAT-BLUE);
    margin: 1rem 0;
}
.home__article span{
   color:var(--LIGHT-PURPLE);
}
.home__article span::before{
    content: "\A";
    white-space: pre;
}

.home__article p{
    color: var(--DARK-PURPLE);
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin: 0.5rem 0;
}

.home__article button{
    padding:0.3rem 0.5rem;
    border-radius: 5px;
    background-color: var(--BLUE-PURPLE);
    outline:none;
    border: 2px solid var(--LIGHT-BLUE);
    margin: auto;
    color: var(--WHITE);
    box-shadow: 0 6px 5px -5px var(--DARK-PURPLE);
    cursor: pointer;
}