.header{
    /* position:absolute;
    top:0;
    left:0;
    width:100%; */
    width: 100%;
    /* min-height: 7rem; */
    height: 13vh;
    border-bottom: 6px solid var(--ORANGE-POP);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:var(--YELLOW-POP) ;
}