.page__salesforce-profil__header__navbar a{
    font-family: Dongpora;
    /* color: #b2bec3; */
	color: var( --BG-PAGES);
    font-size: var(--FONT-MEDIUM);
    margin: 5px 10px;
    text-decoration: none;
	letter-spacing: 2px;
}

.page__salesforce-profil__header__navbar a:hover{
    animation: linkAnim 2s ease-in-out 0s 1 reverse backwards;
}


@keyframes linkAnim {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}