.page__salesforce__footer{
    background-color: var(--BG-FOOTER);
    width: 100%;
    min-height: 5vh;
    color: var(--WHITE);
    text-align: center;
    padding: 15px 0;
    position: relative;
}


.page__salesforce__footer .page__salesforce-profil__header-socials {
    justify-content: center;
    margin: 5px 0;
}

.page__salesforce__footer .page__salesforce__footer-name{
    display: block;
}

.page__salesforce__footer .page__salesforce__footer-icon{
    position: relative;
    bottom: -15px;
    left: 0%;
}
.page__salesforce__footer .page__salesforce__footer-icon svg{
    font-size: var(--FONT-XL);
}

/* @media (max-width: 992px){
    .page__salesforce__footer .page__salesforce__footer-icon {
        position: relative;
        bottom: -15px;
        left: 0%;
    }
} */