.exp-pro__section {
    width: 85%;
    margin: auto;
}

.exp-pro__section__article{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    background-color: var(--WHITE);
    box-shadow: 0 4px 7px -3px var(--DARK-PURPLE);
    padding: 0.5rem 0 2rem 0;
}

.exp-pro__section__article figure{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 7px -3px var(--DARK-PURPLE);
    border-bottom: 4px solid var(--PINK-POP) ;
    padding: 0.5rem 0.2rem;
    margin-bottom:1.5rem;
    width: 60%;
    background-image: url('../../../public/images/bg_waves_v5.png');
    background-repeat: no-repeat;
    background-size: left;
    background-position: bottom;
}   
.exp-pro__section__article figure img {
    margin-left: 0.5rem;
}

.exp-pro__section__article h2{
    font-size: var(--FONT-XL);
    color: var(--PINK-POP);
    letter-spacing: 10px;
    font-weight: 600;
    /* border-bottom: 4px solid var(--PINK-POP) ; */
    margin: 0.5rem auto 1.5rem;
    padding: 0.5rem;
    /* box-shadow: 0 4px 7px -3px var(--DARK-PURPLE); */
    width: fit-content;
}

.exp-pro__section__article p {
    font-size: var(--FONT-SMALL);
}
/* RESPONSIVE */

@media screen and (max-width:768px){
    .exp-pro__section{
        width: 95%;
    }
    .exp-pro__section__article h2{
        font-size: var(--FONT-MEDIUM);
        letter-spacing: 8px;
        margin: 0;
    }
    .exp-pro__section__article figure img{
        width: 90px;
    }
    .exp-pro__section__article figure{
        width: 80%;
    }

    .exp-pro__section__article p {
        font-size: var(--FONT-XS);
    }
}

@media screen and (max-width:481px){
    .exp-pro__section__article h2{
        font-size: var(--FONT-XS);
        padding: 0;
    }

    .exp-pro__section__article figure{
        width: 90%;
    }
    .exp-pro__section__article figure img{
        width: 70px;
    }
}
