.about__section__aside{
    /* background-image: url('../../../public/images/bg_waves_v3.png'), linear-gradient(147deg, #726d6d45 0%, #726d6d45 74%); */
    background-image: url('../../../public/images/bg_waves_v5.png');
    background-color: var(--WHITE);
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 300px;
    color:var(--DARK-PURPLE);
    margin: 0.5rem;
    border:6px solid var(--LIGHT-PURPLE);
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 0.2rem ;
}

.about__section__aside p {
    text-align: justify;
}

.about__section__aside-front-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about__section__aside h5 {
    letter-spacing: 5px;
    font-size: var(--FONT-MEDIUM);
    text-shadow: 1px 0px 0px var(--PINK-POP);
    color:var(--PINK-POP);
    margin: 1.5rem auto;
    width: fit-content;
    text-align: center;
}

.about__section__aside-front-card button,
.about__section__aside-content button
{
    background-color: transparent;
    color: var(--WHITE);
    border: 3px solid var(--WHITE);
    outline: none;
    padding: 5px 10px;
    border-radius: 0px;
    cursor: pointer;
    width: fit-content;
    font-weight: 600;
    background-color: var(--PINK-POP);
    letter-spacing: 2px;
}

.about__section__aside.display-content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
    background-color: #dfdddd2b;
    background-image: none;
}

.about__section__aside.display-content h5{
    color:  var(--PINK-POP);
}

.about__section__aside-content{
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__section__aside-content button {
    margin:0.5rem 0;
}